/* U P P E R C A S E ISCH GEIL ALDER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
    text-transform: uppercase;
    background: #0c0c0c;
}

/* sekundäre Schriftart einfügen
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.altText {
    font-size: 1em;
    font-family: "Didot", serif;
}

/* NavBar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.nav {
    padding-top: 2rem;
}

/* Pics
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.longImg {
    max-width: 100%;
    padding: 1rem;
}

.gif {
    max-width: 100%;
    padding: 1rem;
}

/* Einzeiler
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.slide {
    position: relative;
}


/* Bar Chart Race
--------------------------------------------------- */
.chart-container .chart-title {
    font-size: 2rem;
    fill: #737373;
    text-anchor: end;
}

.chart-container .current-date {
    font-size: 6rem;
    fill: #737373;
    text-anchor: end;
}

.y-axis text,
.y-axis .domain,
.x-axis .domain {
    display: none;
}

.x-axis .tick line {
    color: #737373;
}

.x-axis .tick text {
    color: #737373;
}

.columns .column-container .column-rect {
    fill: whitesmoke;
}

.columns .column-container .column-title {
    text-anchor: end;
    fill: #737373;
    dominant-baseline: middle;
    font-size: 14px;
}

.columns .column-container .column-value {
    dominant-baseline: middle;
    font-size: 14px;
    display: none;
}

.point:hover {
    cursor: default;
}
.point:hover .slide{
    left: 2rem;
}

.zwPic {
    display: none;
}

.point:hover .zwPic{
    display: inline;
}

.footer {
    padding-top: 6rem;
}