/* U P P E R C A S E ISCH GEIL ALDER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
    text-transform: uppercase;
    background: #0c0c0c;
}

/* sekundäre Schriftart einfügen
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.altText {
    font-size: 1.0em;
    font-family: "Didot", serif;
}

/* NavBar
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.nav li {
    display: inline-block;
    padding-right: 1.3rem;
}

.nav li a{
    text-decoration: underline;
    color: #737373;
}

.nav li a:hover {
    color: whitesmoke;
}

/* NavBar
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.longImg {
    max-width: 100%;
    padding: 1rem;
}

.gif {
    max-width: 100%;
    padding: 1rem;
}

/* Bar Chart Race
---------------------------------------------------
 */
.chart-container .chart-title {
    font-size: 18px;
    fill: #d3d3d3;
    font-weight: bold;
    text-anchor: middle;
    dominant-baseline: center;
}

.chart-container .current-date {
    font-size: 45px;
    fill: #d3d3d3;
    text-anchor: end;
}

.y-axis text,
.y-axis .domain,
.x-axis .domain {
    display: none;
}

.x-axis .tick line {
    color: #d3d3d3;
}

.x-axis .tick text {
    color: #d3d3d3;
}

.columns .column-container .column-rect {
    fill: blue;
}

.columns .column-container .column-title {
    text-anchor: end;
    fill: white;
    dominant-baseline: middle;
    font-size: 14px;
}

.columns .column-container .column-value {
    dominant-baseline: middle;
    font-size: 14px;
}

