/* U P P E R C A S E ISCH GEIL ALDER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
    text-transform: uppercase;
    background: #0c0c0c;
}

/* sekundäre Schriftart einfügen
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.altText {
    font-size: 1.0em;
    font-family: "Didot", serif;
}

/* NavBar
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.nav li {
    display: inline-block;
    padding-right: 1.3rem;
}

.nav li a{
    text-decoration: underline;
    color: #737373;
}

.nav li a:hover {
    color: whitesmoke;
}

/* NavBar
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.longImg {
    max-width: 100%;
    padding: 1rem;
}

.gif {
    max-width: 100%;
    padding: 1rem;
}